section.about {
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  padding-top: 2rem;
}

div.about-content {
  width: 90%;
  max-width: 1200px;
  height: 80%;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
}

.description {
  margin-bottom: -8rem;
}

div.tech {
  width: 80%;
  max-width: 1000px;
  flex-direction: row;
  flex: 1;
  align-self: center;
  align-items: center;
  justify-content: space-between;
}

div.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
}

div.img-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

@media (max-width: 1270px) {
  section.about {
    padding: 0 2rem;
  }
}

@media (max-width: 1100px) {
  div.tech {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    justify-items: center;
    flex: unset;
  }

  .description {
    margin-bottom: 2rem;
  }
}

@media (max-width: 750px) {
  section.about {
    height: fit-content;
    padding: 4rem 2rem;
  }
  div.tech {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    justify-items: center;
  }
}

@media (max-width: 650px) {
  .description p {
    font-size: 0.9rem;
  }
}

@media (max-width: 440px) {
  div.img-container {
    height: 4rem;
  }
}
