footer {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #bebebe;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  border-top: 1px dashed #1976d2;
}

ul.links {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
}

ul.links a {
  color: #212121;
  font-size: 1.3rem;
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.22);
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

ul.links a:hover {
  text-shadow: 0 0 80px rgb(25, 118, 210);
  color: #1976d2;
}

footer p {
  color: inherit;
  font-size: 1.1rem;
}
