a {
  text-decoration: none;
}

a.project {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  transition: transform 0.3s ease;
  text-align: center;
}

a.project:hover {
  cursor: pointer;
  transform: translateY(-4px);
}

.project-desc {
  font-size: 0.88rem;
  color: #6d6d6d;
  padding-left: 3rem;
  padding-right: 3rem;
}

.project-title {
  color: #212121;
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.22);
  border-bottom: 1px solid transparent;
  transition: color 0.3s ease, border-bottom 0.3s ease, text-shadow 0.3s ease;
}

a.project:hover .project-title {
  color: #1976d2;
  border-bottom: 1px solid #1976d2;
  text-shadow: 0 0 25px rgb(25, 118, 210);
}

.project-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  border-radius: 1rem;
  overflow: hidden;
}

img.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a.project:hover .project-img-container {
  box-shadow: 0 0 25px 5px rgba(25, 118, 210, 0.6);
  transition: box-shadow 0.3s ease;
}
